androguard==3.0.1
args==0.1.0
asn1crypto==0.23.0
certifi==2017.7.27.1
cffi==1.11.1
chardet==3.0.4
clint==0.5.1
cryptography==3.2
enum34==1.1.6
GPlayCli==2.16
idna==2.6
ipaddress==1.0.18
ndg-httpsclient==0.4.3
protobuf==3.4.0
pyasn1==0.3.7
pycparser==2.18
pycrypto==2.6.1
pyOpenSSL==17.3.0
requests==2.18.4
six==1.11.0
urllib3==1.24.2
